<div class="col-lg-12">
	<div class="row">
		<div class="col-md-9"></div>
		<div class="col-md-3"><a ui-sref="listing" class="btn btn-warning">Back</a></div>
	</div>
	<div class="row" ng-if="EC.edit_detail.table === 'template'" ng-include="'partials/master_table/template_table/template_edit.html'"></div>
	<div class="row" ng-if="EC.edit_detail.table === 'details'" ng-include="'partials/master_table/details_table/details_edit.html'"></div>
	<div class="row" ng-if="EC.edit_detail.table === 'task_table'" ng-include="'partials/master_table/task_table/task_table_edit.html'"></div>
	<div class="row" ng-if="EC.edit_detail.table === 'user_task'" ng-include="'partials/master_table/user_task_table/user_task_edit.html'"></div>
	<div class="row" ng-if="EC.edit_detail.table === 'users'" ng-include="'partials/master_table/users_table/users_edit.html'"></div>
	<div class="row" ng-if="EC.edit_detail.table === 'timeout'" ng-include="'partials/master_table/timeout_table/timeout_edit.html'"></div>
	<div class="row" ng-if="EC.edit_detail.table === 'location'" ng-include="'partials/master_table/location_table/location_edit.html'"></div>
</div>