<div class="col-lg-12">
	<div class="row">
		<div class="col-sm-4"><a ui-sref="edit_record" class="btn btn-warning pulldown">Back</a></div>
		<div class="col-sm-4"><h2>List of table</h2></div>
		<div class="col-sm-4 pullright"></div>
	</div>
	<div class="row">
		<div class="col-sm-4"><b>Selected Database:</b><code>{{LRC.selected_database}}</code></div>
		<div class="col-sm-4"></div>
	</div>
	<div class="row">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Sr</th>
						<th>Table</th>
						<th>Name</th>
						<th>Edit</th>
					</tr>
				</thead>
				<tbody>
						<tr ng-repeat="data in LRC.list_table | startFrom: LRC.currentPage * LRC.pageSize | limitTo:LRC.pageSize ">
						<!--<td><input type="checkbox" checklist-model="LC.selctedIds" checklist-value="data._id" /></td>-->
						<td>{{$index + 1}}</td>
						<td>{{data.table}}</td>
						<td><show-name data="data"></show-name></td>
						<td><a class="btn btn-success" ng-click="LRC.selectRow(data)">Select</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="pagination">
					<button class="btn btn-primary" ng-disabled="LRC.currentPage == 0" ng-click="LRC.currentPage = LRC.currentPage-1">
						Previous
					</button>
					{{LRC.currentPage+1}}/{{LRC.numberOfPages()}}
					<button class="btn btn-primary" ng-disabled="LRC.currentPage >= LRC.master_table.length/LRC.pageSize - 1" ng-click="LRC.currentPage = LRC.currentPage+1">
						Next
					</button>
				</div>
			</div>
			<div class="col-md-6">
				<div class="col-sm-6"></div>
				<div class="col-sm-6">
					<!--<div class="pagination">
						<a class="btn btn-success" ui-sref="add_record">Add New</a>
					</div>-->
				</div>
			</div>
		</div>
	</div>
</div>