<div class="row">
	<div class="col-md-12">
		<div class="col-md-4">
			<div class="pull-down">
				<label class="col-sm-6 control-label">Select Database:- </label>
				<div class="col-sm-6">
					<select class="form-control" ng-change="tables.selectedDB(tables.selected_db);" ng-model="tables.selected_db">
						<option value="default">Default</option>
						<option value="dev">Development</option>
						<option value="live">Live</option>
						<option value="test">Play</option>
					</select>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading"> <strong class="">Tables</strong></div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel-default pullright"><a href="javascript:void(0);" ng-click="tables.logout()" class="btn btn-danger">Logout</a></div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-4 col-md-offset-4">
			<div class="button-holder"> <a ui-sref="listing({table_name: 'users'})" class="btn btn-primary">Users</a></div>
			<!--<div class="button-holder"> <a ui-sref="listing({table_name: 'user_task'})" class="btn btn-primary">User Tasks</a></div>-->
			<div class="button-holder"> <a ui-sref="listing({table_name: 'task_table'})" class="btn btn-primary">Task Table</a></div>
			<div class="button-holder"> <a ui-sref="listing({table_name: 'template'})" class="btn btn-primary">Template Table</a></div>
			<div class="button-holder"> <a ui-sref="listing({table_name: 'timeout'})" class="btn btn-primary">Timeout Table</a></div>
			<div class="button-holder"> <a ui-sref="listing({table_name: 'location'})" class="btn btn-primary">Location Table</a></div>
			<div class="button-holder"> <a ui-sref="listing({table_name: 'details'})" class="btn btn-primary">Detail Table</a></div>
		</div>
	</div>
</div>

